/.idea/*
/C#&.Net/.vs
/C#&.Net/Internship/Task1Class/.vs/Task1Class/v16
/C#&.Net/Internship/Task1Class/Task1Class.sln
/C#&.Net/Internship/Task1Class/Task1Class/bin
/C#&.Net/Internship/Task1Class/Task1Class/obj
/C#&.Net/Internship/Task1Class/Task1Class/App.config
/C#&.Net/Internship/Task1Class/Task1Class/Task1Class.csproj
/C#&.Net/Internship/Task1Class/packages/Newtonsoft.Json.12.0.3
/C#&.Net/Internship/Task1Class/.vs/Task1Class/config
